html {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    background-color: #efefef;
}

header {
    background-color: #364222;
    color: white;
    padding: 3 rem 2 rem;
}
header h1 {
    font-size: 3rem;
    text-align: center;
}

.container, .referencia {
width: 400px;
margin: 0 auto;
}

section article {
transition: box-shadow 0.3s ease;
background-color: white;
margin: 1rem 0;
border-radius: 0.5 rem;
padding: 0.25rem 0;
cursor: pointer;
}

section article:hover {
box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
}

section article h2, section article p {
margin: 1rem;
}

footer {
    background-color: gray;
    padding: 3rem;
    color: white
}

footer section {
    float: right;
}

footer a {
    transition: color 0.3s ease;
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: blue;
}

.referencia {
    background-color: white;
    padding: 2rem;
    text-align: center;
}
